{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
{% endblock %}
{% block body %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        {% if app.user %}
        <li class="nav-item" >
            bienvenu {{ app.user.username }}
        </li>
        {% endif %}
        <li class="nav-link">
            <a href="{{ '/' }}">acceuil</a> 
        </li>
        <li class="nav-link">
            <a href="{{ '/articles' }}">Article</a>
        </li>
        {% if app.user %}
        <li class="nav-link">
            <a href="{{ '/logout' }}">logout</a>
        </li>
        {% else %}
        <li class="nav-link">
            <a href="{{ '/login' }}">sign in</a>
        </li>
        <li class="nav-link">
            <a href="{{ '/register' }}">sign up</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>
<div class="back-img">

</div>
<div class="footer">

</div>
{% endblock %}
